.container{
 background-color: #ccc;
}
#box{
	width: 1000px;
	background-color: #ddd;
	margin: auto;
	min-height: 100px;
}
#select{
	width: 200px;
	float: left;
}
#icon{
	width: 300px;
	float: right;
}
#top-page{
	min-height: 30px;
}
#main-nav ul li{
	display: inline-block;
}
#main-nav ul li a{
	font-family: Arial;
	text-decoration: none;
	padding-right: 10px;
	display: block;
	color: black;
	text-transform: uppercase;
	font-style: bold;
	font-size: 15px;

	
}	
#main-nav{
	border-bottom: 1px solid black;
}

#body-page{
	min-height: 500px;
	background-color: #fff;
	margin-top: 20px;
}
section#left{
	width: 700px;
	padding: 5px; 
	float: left;

}
aside{
	padding: 5px;
	width: 280px;
	float: right;
}